@media screen and (min-width : 768px) {
    .card__text{
        width: 100%;
    }
    .grid-row-6{
        display: grid !important;
        grid-template-columns: 2fr 1fr !important;
    }
    .card__body > p{
        margin: 1rem;
    }
    .card{
        height: fit-content;
        position: sticky;
        top: 96.2px;
        right: 0;
    }
    .cart-card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1rem;
    }
    .product__details{
        flex-grow: 1;
        margin-left: 0.5rem
    }
    .product__details > h4 {
        margin: 2rem 0.5rem;
    }
    .product__img{
        width: 350px;
    }
    .product__quantity{
        display: flex;
        align-items: center;
    }
}
