.filter{
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem;
}
input{
    margin-right: 1rem;
}
.labels {
    margin: 1rem 0rem;
}
.button{
    position: fixed;
    bottom: 0;
    left: 0;
}