.navbar{
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 2rem;
    z-index: 100;
    padding: 9.5px 2.2rem;
    background-color: var(--white);
    box-shadow: 0 12px 12px -2px rgb(197 183 183 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    color: inherit;
    text-decoration: none;
}
.nav__items{
    display: flex;
    align-items: center;
}
.badge-on-icon{
    font-size: 24px;
} 
.wish:hover {
    color: var(--danger);
}
.cart:hover{
    color: var(--primary);
}
.nav__brand{
    cursor: pointer;
}
.navbrand__head{
    font-size: 2rem;
}
.inputText{
    border-color: black;
    color: black;
}
.fa-search{
    padding: 0.5rem 0.2rem;
    font-size: 20px;
}
.mob{
    display: none;
}
.nav__search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.nav__pills{
    margin-left: 2rem;
}

.button2 {
    background-color: transparent;
    border: 1.5px solid black;
    color: black;
    font-weight: bolder;
    padding: 0.5rem 1rem;
}

.button2:hover{
    background-color: black;
    border: 1.5px solid white;
    color: white;
}
@media screen and (max-width : 769px){
    .mob{
        display: block;
        font-size: 24px;
        z-index: 100;
    }
    .badge-on-icon {
        margin-left: 2rem;
    }
}
@media screen and (max-width : 650px) {
    .navbrand__head{
        font-size: 1.3rem;
    }
    .badge-on-icon {
        margin-left: 1rem;
    }
    .fa-search{
        font-size: 15px;
        padding: 0.5rem 0.4rem;
    }
    .navbar{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        margin-bottom: 1rem;
    }
    .inputText {
        padding: 0.2rem;
    }
    .desk {
        display: none;
    }
    .nav__pills{
        font-size: 1rem;
    }
}