.navbar{
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 2rem;
    z-index: 100;
    padding: 9.5px 2.2rem;
    background-color: var(--white);
    box-shadow: 0 12px 12px -2px rgb(197 183 183 / 10%);
    display: flex;
    align-items: center;
}
.nav__items{
    display: flex;
}
.badge-on-icon{
    font-size: 24px;
} 
.wish:hover {
    color: var(--danger);
}
.cart:hover{
    color: var(--primary);
}
.nav__brand{
    cursor: pointer;
}
.navbrand__head{
    font-size: 2rem;
}
.desk{
    width: 50%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}
.inputText{
    border-color: black;
    color: black;
}
.fa-search{
    padding: 0.5rem 0.2rem;
    font-size: 20px;
}
.mob {
    display: none;
}
@media screen and (max-width : 426px) {
    .navbrand__head{
        font-size: 1.3rem;
    }
    .fa-search{
        font-size: 15px;
    }
    .badge-on-icon {
        font-size: 16px;
        margin-left: 24px;
    }
    .mob{
        display: block;
    }
    .desk{
        display: none;
    }
    .navbar{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}