.rating-container {
    display: flex;
    align-items: center;
    padding: 4.5px;
    border-radius: 0.5rem;
    margin: 0.5rem 0rem;
    border-style: none;
    width: fit-content;
}
.card {
    margin-bottom: 4px;
}
.rating-good{
    background-color: var(--success);
}
.rating-average{
    background-color: #ffe338;
}
.rating-poor{
    background-color: var(--danger);
}
.rating {
    color: var(--white);
    font-size: 12px;
    font-weight: 520;
}
.fa-star{
    font-size: 10px;
    padding-left: 3px;
    color: var(--white);
}
.heart{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    cursor: pointer;
    color: var(--text);
    font-size: 1.5rem;
}
.wishlisted {
    color: var(--danger);
}
@media screen and (min-width : 769px) {
    .card {
        margin-bottom: 1rem;
        max-height: 370px;
    }
}
@media screen and (max-width : 769px) {
    .card {
        margin-bottom: 1rem;
    }
}
