.sidebar{
    background-color: var(--white);
    position: fixed;
    width: 275px;
    height: 100%;
    top: 0;
    z-index: 500;
    -moz-box-shadow:    -3px 0 200px 100px rgba(0,0,0,0.5);
  -webkit-box-shadow: -3px 0 200px 100px rgba(0,0,0,0.5);
  box-shadow:         -3px 0 200px 100px rgba(0,0,0,0.5);
}
.sidebar__brand__name{
    padding: 0.5rem 1.2rem;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.sidebar__list{
    padding-inline-start: 0px;
}
.sidebar__pills{
    list-style: none;
    padding: 1rem 3rem 0.5rem;
    border-bottom: 0.5px solid rgb(202, 196, 196);
}
.sidebar__head{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: wavy;
}  
